@include keyframes(sliderBegin) {
    from {
        left: -31.4%
	}	
    to {
        left: -56%
	}
}

@include keyframes(sliderEnd) {
    from {
        left: 110%
	}	
    to {
        left: 100.85%
	}
}
@include keyframes(sliderReverseBegin) {
    from {
        left: 100.85%
	}	
    to {
        left: 125.45%
	}
}

@include keyframes(sliderReverseEnd) {
    from {
        left: -40.55%
	}	
    to {
        left: -31.4%
	}
}